/* >>>>> ID's <<<<< */
/* >>>>> ID's <<<<< */
#pagelayout{
    background: gray;
    min-width: 840px;
    margin: 15px auto;
    height: 1440px;
    width: 85%;
}

#logo{
    background: rgb(95, 95, 95);
    height: 200px;
    width: 100%;
}

#logoimg{
    max-width: 300px;
    max-height: 100%;
    margin: 8px;
    float: left;
    width: 20%;
}

#logoname{
    max-height: 90px;
    margin: 65px 140px;
    float: right;
}

#menubar{
    margin: 20px auto;
    min-width: 630px;
    height: 50px;
    width: 75%;
}

#navigationbar{
    text-align: justify;
    background: rgb(95, 95, 95);
    max-height: 1150px;
    min-height: 360px;
    min-width: 200px;
    float: left;
    width: 24%;
}

#navigationbar p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 95%;
    padding: 0 15px;
}

#navigationbar ul{
    list-style-type: none;
    margin: 0px auto;
    padding: 0px;
    width: 90%;
}

#navigationbar ul li{
    display: inline-block;
    width: 31%;
    max-width: 80px;
}

#navigationbar a img{
    display: inline-block;
    width: 100%;
}

#navigationphoto{
    margin: 0px auto;
    width: 95%;
}

#navigationphoto img{
    width: 100%;
}

#navigationtable{
    width: 85%;
    margin: 0px auto;
    max-height: 100px;
}

#navigationtable td img{
    margin: 0px auto;
    width: 100%;
}

#navigationtable th{
    width: 65%;
    text-align: center;
    font-size: 80%;
}

#navigationtable th a{
    text-decoration: none;
    color: rgb(19, 0, 124);
}

#navigationbar ul#tools{
    list-style-type: disc;
}

#navigationbar ul#tools li{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 14px;
    display:block;
    padding-left: 10px;
    width: 100%;
    max-width: max-content;
    line-height: 22px;
}

#stuff{
    border: 1px solid black;
    background: rgb(160, 160, 160);
    min-height: 840px;
    float: right;
    width: 74%;
}

#stuffhome{
    float: left;
    margin-top: 20px;
    margin-left: 15px;
    height: 100%;
    width: 360px;
}

#stuffhome ul{
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 60px;
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    margin-bottom: 40px;
}

#stuffhome img{
    width: 100%;
}

#stuffhome th{
    width: 100%;
    background: rgb(95, 95, 95);
}

#stuffhome div#content:hover{
    background: rgb(141, 141, 141) ;
}

#stuffhome2 div#content:hover{
    background: rgb(141, 141, 141) ;
}

#stuffhome2{
    float: right;
    margin-top: 20px;
    margin-right: 15px;
    height: 100%;
    width: 360px;
}

#stuffhome2 ul{
    list-style-type: disc;
    margin-top: 10px;
    margin-left: 60px;
    font-size: 18px;
    line-height: 25px;
    padding: 0;
    margin-bottom: 40px;
}

#contactus{
    width: 85%; /*542*/
    height: 175px;
    margin: 100px auto;
}

#contactus table{
    background: rgb(95, 95, 95);
}

#contactus th{
    width: 100%;
}

#contactus td a img{
    height: 175px;
}

#contactlogo{
    border: 1px solid black;
    width: 32%;
    height: 100%;
}

#contactlogo a{
    margin: 0px auto;
}

#contactlogo a img{
    display: inline-block;
    height: 100%;
}

#footer{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: rgb(95, 95, 95);
    text-align: center;
    margin: 15px auto;
    min-width: 840px;
    line-height: 50px;
    height: 50px;
    width: 85%;
}

#menubar ul{
    border: 2px ridge black;
    text-align: center;
    display: block;
    margin: 0px;
    padding: 0px;
    width: 100%;
}

#menubar ul li{
    background: url(../imgs/obj_border.png) left top;
    margin: 0 auto;
    list-style-type: none;
    display: inline-block;
    line-height: 50px;
    max-width: 200px;
    width: 24%;
}

#menubar a{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-shadow: -1px 1px gray;
    text-decoration: none;
    color: rgb(0, 0, 0);
    font-weight: bold;
    display: block;
    height: 100%;
    width: 100%;
}

#menubar li a:hover{
    background: url(../imgs/obj_border_hover.png) left top;
    color: rgb(255, 255, 255);
}

#menubar li a:active{
    background: url(../imgs/obj_border_active.png) left top;
    color: rgb(105, 26, 26);
}

#home #menubar .home,
#projects #menubar .projects,
#updates #menubar .updates,
#contact #menubar .contact{ 
    color: rgb(105, 26, 26);
}

#abilitiestable{
    margin: 0px auto;
    width: 95%;
}

#abilitiestable td, th{
    padding: 7px;
}

#abilitiestable td{
    width: 33%;
}

#abilitiestable th{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-top: 1px solid darkslategray;
    border-bottom: 1px solid black;
    text-transform: uppercase;
    font-size: 0.9em;
    text-align: center;
}

#abilitiestable td:hover{
    background-color: rgb(112, 108, 108);
}

/* >>>>> Classes <<<<< */
/* >>>>> Classes <<<<< */
table.project{
    border-bottom: 1px solid black;
}

#stuffhome table.project:hover{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgb(141, 141, 141);
}

table.project th{
    border-top: 1px solid rgb(0, 0, 0);
    border-bottom: 1px solid black;
}

tr.links td:hover, th:hover{
    background-color: rgb(124, 124, 124);
}

/* >>>>> HTML Structure <<<<< */
/* >>>>> HTML Structure <<<<< */
body{
    background: rgb(179, 179, 179);
}

h2{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
}

h3{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    display: block;
}

h7{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 5px;
    font-weight: bold;
    font-size: 22px;
}

h8{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 20px;
    font-size: 12px;
}

h9{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-left: 25px;
    font-weight: bold;
    font-size: 18px;
    line-height: 22px;
}

h10{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-style: italic;
    margin-left: 30px;
    font-size: 12px;
}